<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.uw.tacoma.css.diseasemap">

    //Add permission to access internet for API.
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity">
        </activity>
        <activity
            android:name=".disease.SelectDiseaseActivity"
            android:label="@string/select_disease">
        </activity>
        <activity
            android:name=".week.WeekActivity"
            android:label="@string/select_week">
        </activity>
        <activity
            android:name=".disease.ViewDiseaseActivity"
            android:label="View Disease">
        </activity>
    </application>

</manifest>